<a href="https://colab.research.google.com/github/imshubhangisingh/Python-begginers-Notes/blob/main/1)Beginner_Functions_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

![d385ad6c129f74f7da9dcc2d2f283005_w200.gif]()

## 🐍🐍🐍FUNCTIONS AGENDA 🐍🐍🐍

🙄why functions

🙂 simple functions

😮positional arguments

😍docstrings and help

😎return v/s print

</center>

In [ ]:
print("knock knock knock Anurag")
print("knock knock knock BAHADUR")
print("knock knock knock Akhtar")

knock knock knock Anurag
knock knock knock BAHADUR
knock knock knock Akhtar

In [ ]:
print()
input()
int()
range()

In [ ]:
print("Clean the house")
print("arrange the show area")
print("Go to market and buy something to eat and drink")
print("Don't mis-behave in front of guests")
print("Greet and touch the feet of elders when guests arrive")

Clean the house
arrange the show area
Go to market and buy something to eat and drink
Don't mis-behave in front of guests
Greet and touch the feet of elders when guests arrive

In [ ]:
# def function_name ():
#### indent and write your code

In [ ]:
print("🏃‍♀️💨")

# creating/defining the function
def prepare4guests():
    print("Clean the house")
    print("arrange the show area")
    print("Go to market and buy something to eat and drink")
    print("Don't mis-behave in front of guests")
    print("Greet and touch the feet of elders when guests arrive")

print("👟")

🏃‍♀️💨
👟

In [ ]:
# calling the function
prepare4guests()

Clean the house
arrange the show area
Go to market and buy something to eat and drink
Don't mis-behave in front of guests
Greet and touch the feet of elders when guests arrive

In [ ]:
prepare4guests()

Clean the house
arrange the show area
Go to market and buy something to eat and drink
Don't mis-behave in front of guests
Greet and touch the feet of elders when guests arrive

In [ ]:
prepare4guests()

Clean the house
arrange the show area
Go to market and buy something to eat and drink
Don't mis-behave in front of guests
Greet and touch the feet of elders when guests arrive

In [ ]:
for i in range(1,5):
    print(i**2)
print("Python is amazing")

1
4
9
16
Python is amazing

In [ ]:
def randomStuff():
    for i in range(1,5):
        print(i**2)
    print("Python is amazing")

In [ ]:
randomStuff()

1
4
9
16
Python is amazing

In [ ]:
num = 1
while num<=5:
    # print(num)
    if  num%2==0:
        randomStuff()
    num+=1

1
4
9
16
Python is amazing
1
4
9
16
Python is amazing

In [ ]:
def make_tea():
    print("get a utensil")
    print("add water")
    print("add tea leaves")
    want_sugar = input("hey indian huma, do you want sugar??? (y/n)::: ")
    if want_sugar=="y":
        print("add sugar")
    else:
        print("this is why people say indians are salty")
    print("boil")

In [ ]:
for tea_time in range(1,4):
    make_tea()

get a utensil
add water
add tea leaves
hey indian huma, do you want sugar??? (y/n)::: y
add sugar
boil
get a utensil
add water
add tea leaves
hey indian huma, do you want sugar??? (y/n)::: n
this is why people say indians are salty
boil
get a utensil
add water
add tea leaves
hey indian huma, do you want sugar??? (y/n)::: y
add sugar
boil

In [ ]:
print("knock knock knock Anurag")
print("knock knock knock Anurag")
print("knock knock knock Anurag")

knock knock knock Anurag
knock knock knock Anurag
knock knock knock Anurag

In [ ]:
print("knock knock knock Suraj")
print("knock knock knock Suraj")
print("knock knock knock Suraj")

knock knock knock Suraj
knock knock knock Suraj
knock knock knock Suraj

In [ ]:
def greeting_someone(name):
    print(name)
    print("knock knock knock", name)
    print("knock knock knock", name)
    print("knock knock knock", name)

In [ ]:
greeting_someone("Suraj")

Suraj
knock knock knock Suraj
knock knock knock Suraj
knock knock knock Suraj

In [ ]:
greeting_someone("Anurag")

Anurag
knock knock knock Anurag
knock knock knock Anurag
knock knock knock Anurag

In [ ]:
def propose(name):
    '''
    This is inside docstring
    docstring is used to document functions

    this is proposal function, use it carefully
    Input: Enter the name of the person/programming lang you want to propose
    Output: this will propose someone

    '''
    print("I like you my....", name)

In [ ]:
nameInput = input("Whom do you want to propose: ")
propose(nameInput)

Whom do you want to propose: Python
I like you my.... Python

In [ ]:
propose(nameInput)
propose(nameInput)

I like you my.... Python
I like you my.... Python

In [ ]:
propose("someone")

I like you my.... someone

In [ ]:
help(propose)

Help on function propose in module __main__:

propose(name)
    This is inside docstring
    docstring is used to document functions

    this is proposal function, use it carefully
    Input: Enter the name of the person/programming lang you want to propose
    Output: this will propose someone

In [ ]:
print("to get documentation of a function in python")
print("either use help(name_of_function)")
print("OR")
print("write the name of the function, add () and then press shift+tab")

to get documentation of a function in python
either use help(name_of_function)
OR
write the name of the function, add () and then press shift+tab

In [ ]:
# meet the family
# positional arguments
def greet_the_family(mother, father, brother):
    """
    this will greet the family
    good luck my friend

    Inputs:
        mother [str]
        father [str]
        brother [str]: mostly a dude

    Output:
        Don't worry I will take care of the greetings
    """
    print("Hello", mother)
    print("Hi", father)
    print("🙋‍♂️", brother)

In [ ]:
help(greet_the_family)

Help on function greet_the_family in module __main__:

greet_the_family(mother, father, brother)
    this will greet the family
    good luck my friend

    Inputs:
        mother [str]
        father [str]
        brother [str]: mostly a dude

    Output:
        Don't worry I will take care of the greetings

In [ ]:
greet_the_family("reema","deepak","dude")

Hello reema
Hi deepak
🙋‍♂️ dude

In [ ]:
greet_the_family("reema","dude","deepak")

Hello reema
Hi dude
🙋‍♂️ deepak

In [ ]:
def greeting_someone(name):
    print(name)
    print("knock knock knock", name)
    print("knock knock knock", name)
    print("knock knock knock", name)
greeting_someone("Anurag")

Anurag
knock knock knock Anurag
knock knock knock Anurag
knock knock knock Anurag

In [ ]:
def greeting_someone(name):
    print(name)
    print("knock knock knock, I am coming in", name)
    print("knock knock knock, I am coming in", name)
    print("knock knock knock, I am coming in", name)
greeting_someone("Anurag")

Anurag
knock knock knock, I am coming in Anurag
knock knock knock, I am coming in Anurag
knock knock knock, I am coming in Anurag

In [ ]:
a = 10
print(a)
a = 100
print(a)

10
100

In [ ]:
# meet the family
# positional arguments
def greet_the_family(mother, father, brother):
    """
    this will greet the family
    good luck my friend

    Inputs:
        mother [str]
        father [str]
        brother [str]: mostly a dude

    Output:
        Don't worry I will take care of the greetings
    """
    print("Hello", mother)
    print("Hi", father)
    print("🙋‍♂️", brother)

In [ ]:
greet_the_family("reema","deepak")

TypeError: ignored

In [ ]:
greet_the_family("reema","deepak","dude","dude 2")

TypeError: ignored

In [ ]:
def add3nums(a,b,c):
    print(a+b+c)

In [ ]:
add3nums(1,2,3)

6

In [ ]:
print(add3nums(1,2,3))

6
None

In [ ]:
def add3numsNEW(a,b,c):
    print(a+b+c)
    return a+b+c

In [ ]:
print("Calling")
add3numsNEW(1,2,3)
print("called")

Calling
6
called

In [ ]:
print("Calling")
total = add3numsNEW(1,2,3)
print(total*2)
print("called")

Calling
6
12
called

In [ ]:
def add3nums(a,b,c):
    print(a+b+c)

In [ ]:
total = add3nums(1,2,3)
print(total)

6
None

In [ ]:
print(total*2)

TypeError: ignored

In [ ]:
# print: function: shows the output on the screen
# return : keyword : return some data, after the function is called

In [ ]:
userEnterd = input()
print(userEnterd)

123
123

In [ ]:
userEnterdInt = int(userEnterd)
print(userEnterdInt)
print(int(userEnterd))

123
123

In [ ]:
outputOfPrint = print("something")
print(outputOfPrint)

something
None

In [ ]:
for i in range(1,10):
    if i%2==0:
        print(i, "is even")
    else:
        print(i, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [ ]:
def whatIsEven(num):
    if num%2==0:
        return "even"
    else:
        return "odd"

In [ ]:
for i in range(1,10):
    if whatIsEven(i)=="even":
        print(i, "is even")
    else:
        print(i, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [ ]:
def whatIsEven(num):
    if num%2==0:
        print("even")
    else:
        print("odd")

In [ ]:
for i in range(1,10):
    if whatIsEven(i)=="even":
        print(i, "is even")
    else:
        print(i, "is odd")

odd
1 is odd
even
2 is odd
odd
3 is odd
even
4 is odd
odd
5 is odd
even
6 is odd
odd
7 is odd
even
8 is odd
odd
9 is odd

In [ ]:
# 0
output = someFunction(5,8)
def someFunction(a,b):
    return a
output = someFunction(5,8)

NameError: ignored

In [ ]:
# 1
def test(a,b):
    return a
output = test(5,8)

In [ ]:
print(output)

5

In [ ]:
# 2
def test(a,b):
    return a
    print(b) # this will never run. why... cz it has already left the function, the moment it saw return
output = test(5,8)

In [ ]:
print(output)

5

In [ ]:
# 3
def test(a,b):
    if a%2==0:
        print(a)
    else:
        print(b)
output = test(5,8)

8

In [ ]:
print(output)

None

In [ ]:
# 4
def test(a,b):
    if b%2==0:
        return b
    else:
        print (b)

    if a%2==0:
        return a
    else:
        print (a)
output = test(5,8)

In [ ]:
print(output)

8

In [ ]:
# 5
def test(a,b):
    if b%2==0:
        return b
    else:
        print (b)

    if a%2==0:
        return a
    else:
        print (a)
output = test(8,5)

5

In [ ]:
output

8

In [ ]:
# whatever value you right as the last statement of a coding cell, will be shown on the screen

In [ ]:
a = 2
a

2

In [ ]:
print()

In [ ]:
def myFunc():
    a=2
    b =a+5

In [ ]:
myFunc()

In [ ]:
def myFunc():
    a=2
    b =a+5
    return b

In [ ]:
myFunc()

7

In [ ]:
myFunc()
b = 5

In [ ]:
print(myFunc()) # wont print ?

temp = None

7

In [ ]:
mySTR = "abc"
print(mySTR)

abc

In [ ]:
mySTR

'abc'

In [ ]:
def myFunc():
    a=2
    b =a+5
    # return b
print(myFunc())

None

In [ ]:
a=int(input(4))
print(a)

4123
123

In [ ]:
a=int(input("What is your age: "))
print(a)

What is your age: Ronaldo

ValueError: ignored

In [ ]:
# for-else
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
    print(i)
else: # if the above loop never break, and completes fully, then this will run
    print("the loop completed")

0
1
2
3
4
the loop completed

In [ ]:
for i in range(5):
    print(i)
    if i==3:
        break
else: # if the above loop never break, and completes fully, then this will run
    print("the loop completed")

0
1
2
3

In [ ]:
num = 0
while num<=5:
    print(num)
    num+=1

0
1
2
3
4
5

In [ ]:
num = 0
while num<=5:
    print(num)
    num+=1
else: # if the above loop never break, and completes fully, then this will run
    print("the loop completed")

0
1
2
3
4
5
the loop completed

In [ ]:
num = 0
while num<=5:
    if num==3:
        break
    print(num)
    num+=1
else: # if the above loop never break, and completes fully, then this will run
    print("the loop completed")

0
1
2