<a href="https://colab.research.google.com/github/imshubhangisingh/Python-begginers-Notes/blob/main/10)Beginner_comprehension_memory_management.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : Comprehension & Memory Management - 13th June 2023


![](https://pbs.twimg.com/media/EVpIVrhU0AEVa9y.jpg)

Meme of the day

</center>

In [ ]:
# RECAP
# id()
# comprehension >> list, dict

In [ ]:
# ðŸ˜²ðŸ˜²ðŸ˜²RECAPðŸ˜²ðŸ˜²ðŸ˜²

In [ ]:
## primitive DS
### int, str, float, None, bool
#### immutable, single value at a time

In [ ]:
#### Non-primitve DS
## list, tuple, set, dict

In [ ]:
## list ðŸ“ƒ
# []
# can store any data type
# duplicate data is allowed
# ordered >> you can use indexing, sort, etc
# mutable/ editable

In [ ]:
## tuple ðŸ‘€
# ()
# can store any data type
# duplicates are allowed
# maintains order >> index, âŒsortingâŒ
# immutable/ non-editable

In [ ]:
## set ðŸ“
# emptySet = set()
# {e1, e2, e3....}
# can store any data type that is immutable, NO mutable DS are allowed
# no duplicates
# unordered >> no index, no sorting
# mutable/editable

# quick search is VERY VERY VERY FAST
"groot" in {'iron-man', 'cap', 'hulk'}

False

In [ ]:
## dict ðŸ“–
# key:value pairs
# >>> key to dict, output value, VERY FAST
# {}
# {k1:v1, k2:v2,....}
# # keys in a python dict have to be unique as well as immutable
# # values in a python dict can be of any data type
# keys should be unique, values can have duplicates
# unordered >> no index, no sorting
# mutable/editable

In [ ]:
# ðŸ˜²ðŸ˜²ðŸ˜²RECAP ENDSðŸ˜²ðŸ˜²ðŸ˜²

In [ ]:
# mutable and immutable
# id function

In [ ]:
a = 2
print(a, id(a), sep = "------")

2------139795091882256

In [ ]:
a = 2
a = a + 5
print(a, id(a), sep = "------")

7------139795091882416

In [ ]:
b = [1,2,3,4,5]
print(b, id(b), sep = "------")
b [2] = 100
print(b, id(b), sep = "------")

[1, 2, 3, 4, 5]------139793842798848
[1, 2, 100, 4, 5]------139793842798848

In [ ]:
## ðŸ˜ŽðŸ˜ŽðŸ˜Ž comprehension ðŸ˜ŽðŸ˜ŽðŸ˜Ž

In [ ]:
# standard programming
sqr_list = []
for num in range(1,6):
    sqr_list.append(num**2)
print(sqr_list)

[1, 4, 9, 16, 25]

In [ ]:
# store the square of the num for all the nums in range(1,6)
# is list comprehension

# [<what to store>  <for loop>]
[num**2 for num in range(1,6)]

[1, 4, 9, 16, 25]

In [ ]:
sqr_list = [num**2 for num in range(1,6)]
print(sqr_list)

[1, 4, 9, 16, 25]

In [ ]:
# not faster or memory efficient then the standard programming, it is the SAME
# it is concise and more readable though for a human ðŸ‘¦

In [ ]:
# use list comprehension and the range(1,6)
# Exercise: print [100, 200, 300, 400, 500]
print([num for num in range(1,6)])
# [<what to store>  <for loop>]
print([num*100 for num in range(1,6)])

[1, 2, 3, 4, 5]
[100, 200, 300, 400, 500]

In [ ]:
print([f'I like {num}' for num in range(1,6)])
#     [<what to store>  <for loop>]

['I like 1', 'I like 2', 'I like 3', 'I like 4', 'I like 5']

In [ ]:
#     [<what to store>  <for loop>]
print([0 for num in range(10)])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# standard programming
even_list = []
for num in range(1,15):
    if num%2==0:
        even_list.append(num)
print(even_list)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
# store the num for num in range of 1 to 15 only if the num is even
#[<what to store>  <for loop> <when to store>]
[num    for num in range(1,15)   if num%2==0]

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
# using list comprehension
# Exercise: printing multiples of 4 in the range 1 to 15
# [4,8,12]
print([num for num in range(1,15) if num%4==0])

[4, 8, 12]

In [ ]:
# ask the user for their age in years
# and tell them whether they can vote or not
# assume people with age>=18 can vote

age = int(input("Hey friend, don't be angry, but what is your age: "))
if age>=18:
    print('GO vote')
else:
    print("You cannot vote")

Hey friend, don't be angry, but what is your age: 25
GO vote

In [ ]:
# go vote if age>=18 else you cant vote
age = 25
print('GO vote' if age>=18 else "You cannot vote")

GO vote

In [ ]:
age = 5
# <the value if condition is True> if <condition> else <the value if condition is False>
print('GO vote' if age>=18 else "You cannot vote")

You cannot vote

In [ ]:
age = 5
# <the value if condition is True> if <condition> else <the value if condition is False>
my_decision = 'GO vote' if age>=18 else "You cannot vote"
print(my_decision)

You cannot vote

In [ ]:
age = 5
# <the value if condition is True> if <condition> else <the value if condition is False>
my_decision = 'GO vote' if age>=18
print(my_decision)

SyntaxError: ignored

In [ ]:
# ask the user for a number(int), with a single line if-else
# tell if the number is even OR odd
num = int(input())
# <the value if condition is True> if <condition> else <the value if condition is False>
print('even' if num%2==0 else 'odd')

100
even

In [ ]:
num = int(input())
# <the value if condition is True> if <condition> else <the value if condition is False>
print(f'{num} is even' if num%2==0 else f'{num} is odd')

50
50 is even

In [ ]:
# go from 1 to 20 and for all multiples of 3 print(odd, even)
# ['3 is odd', '6 is even', '9 is odd', '12 is even', '15 is odd', '18 is even']
# only using list comprehension and single line if-else statements

## STEPS
# 1 just go over the range
#[<what to store>  <for loop> <when to store>]
print([num for num in range(1,20)])
# 2 make sure the output happens for only multiples of 3
print([num for num in range(1,20) if num%3==0])
# 3 instead of the num as output, give if it is even or odd
print([f'{num} is even' if num%2==0 else f'{num} is odd' for num in range(1,20) if num%3==0])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[3, 6, 9, 12, 15, 18]
['3 is odd', '6 is even', '9 is odd', '12 is even', '15 is odd', '18 is even']

In [ ]:
# sets comprehension
print({f'{num} is even' if num%2==0 else f'{num} is odd' for num in range(1,20) if num%3==0})

{'15 is odd', '6 is even', '3 is odd', '18 is even', '12 is even', '9 is odd'}

In [ ]:
# tuple comprehension, not really
print(tuple(f'{num} is even' if num%2==0 else f'{num} is odd' for num in range(1,20) if num%3==0))

('3 is odd', '6 is even', '9 is odd', '12 is even', '15 is odd', '18 is even')

In [ ]:
# dict comprehension
output = {f'{num} is even' if num%2==0 else f'{num} is odd' for num in range(1,20) if num%3==0}
print(type(output))

<class 'set'>

In [ ]:
# dict comprehension >> dict
#{<what to store>> key:value>  <for loop> <when to store>}

In [ ]:
sqr_list = [num**2 for num in range(1,6)]
print(sqr_list)

[1, 4, 9, 16, 25]

In [ ]:
sqr_dict = {num:num**2 for num in range(1,6)}
print(sqr_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
sqr_dict = {num**2:num for num in range(1,6)}
print(sqr_dict)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [ ]:
# exercise: create a dictionary for weight in grams, key will be weight in kgs
# dictionary comprehension ONLY
wt_kgs = [80,87,89,31,97]
# {80:80000, 87:87000...}
print([wt for wt in wt_kgs])
print([wt*1000 for wt in wt_kgs])
print({wt:wt*1000 for wt in wt_kgs})

[80, 87, 89, 31, 97]
[80000, 87000, 89000, 31000, 97000]
{80: 80000, 87: 87000, 89: 89000, 31: 31000, 97: 97000}

In [ ]:
# type
# print
# tuple
# input
# list
# int
# float
# str
# range
# set
# ord
# chr
# bool
# len

In [ ]:
# Exercise
# dictionary comprehension ONLY
# groceries >> 'item':price(in dollars)
groceries = {'milk':3, 'apples':5.5, 'bread':4}
# get output as price in rupees [1 dollar = 80 rupees]
# HINT: don't target solution directly but go step by step
print([item for item in groceries])
print([groceries[item]*80 for item in groceries])
print({item:groceries[item]*80  for item in groceries})

['milk', 'apples', 'bread']
[240, 440.0, 320]
{'milk': 240, 'apples': 440.0, 'bread': 320}

In [ ]:
print({key:value*80 for key,value in groceries.items()})

{'milk': 240, 'apples': 440.0, 'bread': 320}

In [ ]:
# get the groceries list if only things starting with vowel("aeiou") can be bought
# >> {'apples': 5.5}
groceries = {'milk':3, 'apples':5.5, 'bread':4}

#    {<what to store>> key:value>  <for loop> <when to store>}
print({key:value for key, value in groceries.items()})

{'milk': 3, 'apples': 5.5, 'bread': 4}

In [ ]:
print({key:value for key, value in groceries.items() if key[0] in "aeiou"})

{'apples': 5.5}

In [ ]:
item = "milk"
item[0] in "aeiou"

False

In [ ]:
item = "apples"
item[0] in "aeiou"

True