<a href="https://colab.research.google.com/github/imshubhangisingh/Python-begginers-Notes/blob/main/2)Beginner_functions_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://pythontutor.com/visualize.html#mode=edit

###**Quiz-1**
```python
function random():
    return True
random()
```
```
    function random():
             ^
SyntaxError: invalid syntax
```
```
Options:
A. True
B. 1
C. None
D. Error <<<<---
```

In [ ]:
def random():
    return True
random()

True

###**Quiz-2**
```python
def abc:
    return "I am a function!"
abc()
```
```
Options:
A. "I am a function"
B. 'I am a function'
C. '''I am a function'''
D. None of the above <<<----
```

> ---------------------------

```python
def abc():
    return "I am a function!"
abc()
```
```
Options:
A. "I am a function"
B. 'I am a function'
C. '''I am a function'''
D. None of the above <<<----
```

In [ ]:
temp = 10
def abc():
    return "I am a function!"
abc()
temp = 10

In [ ]:
output_of_print = print()
print(output_of_print)

None

###**Quiz-3**
```python
a = 10
def calculator(number):
    print(number * 10)

calculator(a)
print(number)
print(a)
```
```
Options:
A. Error

B.
100
10
10

C.
100
10
100

D.
100
100
100
```

In [ ]:
a = 10
def calculator(number):
    print(number * 10)

calculator(a)
print(number)
print(a)

100

NameError: ignored

In [ ]:
a = 10# global >> anyone/evertone
def random(x,y,z):
    total = x+y+z
    print(total)
print(random(1,2,3))
# print(total) # these are local to function, they stay in function scope and are not available outside
# print(x,y,z)

6
None

NameError: ignored

In [ ]:
a = 10# global >> anyone/evertone
def random(x,y,z):
    total = x+y+z
    print("total inside random",total)
    print(a)# a is global, can acees the value here
print(random(1,2,3))

total inside random 6
10
None

In [ ]:
a = 10# global >> anyone/evertone
def random(x,y,z):
    total = x+y+z
    print(total)
    print(a)# a is global, can acees the value here
    return total
total = random(1,2,3)
print(total)

6
10
6

In [ ]:
print(total)

6

In [ ]:
# Local, global, built-in

In [ ]:
def func():
    randomVar = 10
    return randomVar
print(func())
newVar = func()
print(newVar)

10
10

In [ ]:
a = 10# global >> anyone/evertone
def random(x,y,z):
    total = x+y+z
    print("total inside random",total)
    a = 5 # this is trying tot  create a variable called a
    print("second a print", a)# a is local
    return a
another_var = random(1,2,3)
# a = random(1,2,3)
print(another_var)
print("a in global is", a)

total inside random 6
second a print 5
5
a in global is 10

In [ ]:
a = 10# global >> anyone/evertone
def random(x,y,z):
    total = x+y+z
    print("total inside random",total)
    global a
    a = 5 # this is NOT trying to create a variable called a, working with the goal a
    print("second a print", a)# a is local
    return a
another_var = random(1,2,3)
# a = random(1,2,3)
print(another_var)
print("a in global is", a)

total inside random 6
second a print 5
5
a in global is 5

###**Quiz-4**
```python
a = 10
def calculator(number):
    print(number * 10)

calculator(a)
print(a)
```
```
Options:
A.
100
100

B.
100
10

C.
10
100

D.
10
10
```

In [ ]:
# How many return statements can a function have? >> Any number
# How many return statements can be executed in a function at a time? >> 1

In [ ]:
def smallesMultiple(n):
    if n%2==0:
        return 2
    elif n%3==0:
        return 3
    elif n%5==0:
        return 5
    elif n%7==0:
        return 7
    elif n%11==0:
        return 1
print(smallesMultiple(49))

7

In [ ]:
def iLikeRturns(n):
    return 1
    return 1
    return 1
    return 10
    return 1
    return 1
    return 111
    return 1
print(iLikeRturns(49))

1

In [ ]:
def introduce_my_family(my_name, father, mother, brother, sister):
    print("My name is", my_name)
    print("My father is", father)
    print("My mother is", mother)
    print("My brother is", brother)
    print("My sister is", sister)

In [ ]:
introduce_my_family("Kuldeep", "Tom Cruise", "Taylor Swift", "Robert Downey", "Salena Gomez")

My name is Kuldeep
My father is Tom Cruise
My mother is Taylor Swift
My brother is Robert Downey
My sister is Salena Gomez

In [ ]:
# positional arguments, so position matters
introduce_my_family("Taylor Swift", "Tom Cruise", "Kuldeep", "Robert Downey", "Salena Gomez")

My name is Taylor Swift
My father is Tom Cruise
My mother is Kuldeep
My brother is Robert Downey
My sister is Salena Gomez

In [ ]:
def introduce_my_family(my_name, father, mother, brother, sister):
    print("My name is", my_name)
    print("My father is", father)
    print("My mother is", mother)
    print("My brother is", brother)
    print("My sister is", sister)

In [ ]:
# keyword arguments
introduce_my_family(my_name="Kuldeep", father="Tom Cruise", mother="Taylor Swift", brother="Robert Downey", sister="Salena Gomez")

My name is Kuldeep
My father is Tom Cruise
My mother is Taylor Swift
My brother is Robert Downey
My sister is Salena Gomez

In [ ]:
introduce_my_family(father="Tom Cruise", mother="Taylor Swift",my_name="Kuldeep",  brother="Robert Downey", sister="Salena Gomez")

My name is Kuldeep
My father is Tom Cruise
My mother is Taylor Swift
My brother is Robert Downey
My sister is Salena Gomez

In [ ]:
introduce_my_family(my_name="Kuldeep",  mother="Taylor Swift", brother="Robert Downey",father="Tom Cruise", sister="Salena Gomez")

My name is Kuldeep
My father is Tom Cruise
My mother is Taylor Swift
My brother is Robert Downey
My sister is Salena Gomez

In [ ]:
def random(a,b,c,d):
    print("a==>", a)
    print("b==>", b)
    print("c==>", c)
    print("d==>", d)

In [ ]:
# positional arguments
random(1,2,3,4)

a==> 1
b==> 2
c==> 3
d==> 4

In [ ]:
# keyword arguments
random(a=1,b=2,c=3,d=4)

a==> 1
b==> 2
c==> 3
d==> 4

In [ ]:
# keyword arguments
random(c=3,b=2,d=4, a=1)

a==> 1
b==> 2
c==> 3
d==> 4

In [ ]:
def random(a,b,c,d):
    print("a==>", a)
    print("b==>", b)
    print("c==>", c)
    print("d==>", d)

In [ ]:
random(1,2,d=4,c=3)

a==> 1
b==> 2
c==> 3
d==> 4

In [ ]:
random(1,2,a=4,c=3)

TypeError: ignored

In [ ]:
random(a=4,c=3, 1,2)

SyntaxError: ignored

In [ ]:
random(1,a=4,c=3,2)

SyntaxError: ignored

In [ ]:
def simple_interst(p,r,t):
    interest = p*r*t/100
    return interest

In [ ]:
print(simple_interst(100,5,2)) # positional arguments
print(simple_interst(p =100,t = 2,r = 5)) # keyword arguments
print(simple_interst(100,t = 2,r = 5)) # positional+keyword arguments

10.0
10.0
10.0

In [ ]:
def simple_interst(p,r,t=10):
    interest = p*r*t/100
    return interest

In [ ]:
print(simple_interst(100,5,2)) # positional arguments
print(simple_interst(p =100,t = 2,r = 5)) # keyword arguments
print(simple_interst(100,t = 2,r = 5)) # positional+keyword arguments

10.0
10.0
10.0

In [ ]:
print(simple_interst(100,5)) # positional arguments
print(simple_interst(p =100,r = 5)) # keyword arguments
print(simple_interst(100,r = 5)) # positional+keyword arguments

50.0
50.0
50.0

In [ ]:
def simple_interst(p,t=10, r):
    interest = p*r*t/100
    return interest

SyntaxError: ignored

In [ ]:
def simple_interst(p=100,r=10,t=10):
    interest = p*r*t/100
    return interest

In [ ]:
print(simple_interst())

100.0

In [ ]:
print(
'''
Question 1 -
Create a date printing function -
Should take 4 arguments -> day, month, year and style

Styling Logic -
style -> 0 -> d/m/y
style -> 1 -> m/d/y
style -> any other value -> Invalid Style

default style is 0.
'''

)

Question 1 -
Create a date printing function -
Should take 4 arguments -> day, month, year and style

Styling Logic -
style -> 0 -> d/m/y
style -> 1 -> m/d/y
style -> any other value -> Invalid Style

default style is 0.

In [ ]:
def print_date(day, month, year , style=0):
    if style==0: #style -> 0 -> d/m/y
        print(day, month, year, sep="/")
    elif style==1: #style -> 1 -> m/d/y
        print(month, day, year, sep="/")
    else:
        print("Invalid Style")

In [ ]:
print_date(day=23, month="05", year=2023)

23/05/2023

In [ ]:
print_date(day=23, month="05", year=2023, style=1)

05/23/2023

In [ ]:
print_date(day=23, month="05", year=2023, style=2)

Invalid Style

###Quiz-5
```python
a = 57
def simple_function(a):
    if a <= 10:
        return "SMALL"
    elif a > 10:
        return "BIG"
    
output = simple_function(a)
```
What is `output`:
```
Options:
A. BIG <<<<<
B. SMALL
C. Error - Two return statements
D. None
```

In [ ]:
# return a
# return "BIG"

What will be the output of the following code?
```python
def multiply(num1=3, num2):
    return num1 * num2

print(multiply(2, 4))
```
A. `8`

B. `TypeError`

C. `6`

D. `SyntaxError` <<<<<

In [ ]:
def multiply(num1=3, num2):
    return num1 * num2

print(multiply(2, 4))

SyntaxError: ignored

In [ ]:
# SyntaxError: non-default argument follows default argument

What will be the output of the following code?
```python
def function(var):
    print(var)

function(3)

var = 5
function(var)
```

A. <<<<<<<<<
```
3
5
```
B.
```
3
3
```

C.
```
5
5
```
D.
```
5
3
```

What will be the output of the following code?
```python
x = 10
def function():
    x = 5
    print(x)
function()
print(x)
```
A.
```
10
5
```
B. <<<<<<
```
5
10
```

C.
```
5
5
```
D.
```
10
10
```

What will be the output of the following code?
```python
def function(var=5):
    var = var + 1
    print(var)

function()
function(10)
```
A.  <<<<<
```
6
11
```
B.
```
6
10
```
C.
```
5
10
```
D.
```
5
11
```