<a href="https://colab.research.google.com/github/imshubhangisingh/Python-begginers-Notes/blob/main/3)Beginner_Lists_1D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

![](https://inventyourshit.com/wp-content/uploads/2020/11/4l8rtu.jpg)

</center>

In [ ]:
### PTYHON LISTS üêç
# 1 Why Python lists?
# 2 How to create python lists?
# 3 what Python lists::: functionality and concepts revolving python lists
## THE END üí•üí•üí• QUIZ üëàüëàüëàüëà

In [ ]:
# data types
# str, int, float, bool, None

In [ ]:
# planet üåçüåèüåé EARTH
name = "A wonder world"
rank = 4
diameter = 12713.6
haveWeFoundAliens = True

print(name, type(name))
print(rank, type(rank))
print(diameter, type(diameter))
print(haveWeFoundAliens, type(haveWeFoundAliens))

A wonder world <class 'str'>
4 <class 'int'>
12713.6 <class 'float'>
True <class 'bool'>

In [ ]:
# total planets that we have >>> 8
# for one planet >> 4 var, 4 lines of code
# 8 planets >> 4*8=32 var

In [ ]:
# SBI
# name, age, bankBal, criminalOrNot
# 1 customer >> 4 var
# 10 mill customers >> 40 mill var

In [ ]:
# simple data types like str, int, float, bool, None, alweays store a single value

In [ ]:
# data Structure üëâ store data and then allow efficient access to that data
# 1Ô∏è‚É£ Pythonüêç Lists

In [ ]:
# Python Lists
# ‚úÖ []
# ‚ùå () OR {}
myEmptyList = []
print(myEmptyList, type(myEmptyList))


player = ["Ronaldo", 37, 185.5, True, None]
print(player, type(player))

[] <class 'list'>
['Ronaldo', 37, 185.5, True, None] <class 'list'>

In [ ]:
grocceryList = [3, 'chairs', 3, 'tables', 1.5, 'Apples', ["Ronaldo", 37, 185.5, True, None]]
print(grocceryList)
print( type(player))

[3, 'chairs', 3, 'tables', 1.5, 'Apples', ['Ronaldo', 37, 185.5, True, None]]
<class 'list'>

In [ ]:
# python lists allow duplicates
# python lists maintain order
# python lists can store anything

In [ ]:
# use order
# 0 -indexing

#######         0          1      2      3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
print(avengers)

print(avengers[0])
print(avengers[1])
print(avengers[2])
print(avengers[3])
print(avengers[4])

['iron-man', 'thor', 'cap', 'hulk', 'groot']
iron-man
thor
cap
hulk
groot

In [ ]:
# index of the last value
# 1 find size of the list, eg n (there are n elements)
# 2 n-1 is the index for the last value
# get the size of the list
print(len(avengers))
print("last index is", len(avengers)-1)
print("last value is", avengers[len(avengers)-1])

5
last index is 4
last value is groot

In [ ]:
# use order
# 0 -indexing

#0/+ive ind    0          1      2      3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
# -ive ind    -5          -4      -3      -2        -1
print(avengers)

print(avengers[0], avengers[-5])
print(avengers[1], avengers[-4])
print(avengers[2], avengers[-3])
print(avengers[3], avengers[-2])
print(avengers[4], avengers[-1])

['iron-man', 'thor', 'cap', 'hulk', 'groot']
iron-man iron-man
thor thor
cap cap
hulk hulk
groot groot

In [ ]:
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']

print(avengers[1])
print(avengers[-3])
# print(avengers[10]) # IndexError: list index out of range
print(avengers[0])
print(avengers[-0])

thor
cap
iron-man
iron-man

In [ ]:
print(0==0)
print(0==-1*0)
print(0==-0)

True
True
True

In [ ]:
runs = [45, 67, 89, 12, 34, 56, 100] # virat kohli's runs
# Mr Virat thinks he does well in even +ive-indexed matches
# you are asked by Mr Virat to calculate the total runs of the even matches

In [ ]:
runs = [45, 67, 89, 12, 34, 56, 100]
##      0    1  2   3   4   5     6
print(runs[0]+ runs[2]+ runs[4]+ runs[6])

268

In [ ]:
runs = [45, 67, 89, 12, 34, 56, 100]

total = 0 # 4 start the total from 0
# 1 first thing is loop over all the indexes
for i in range(len(runs)): #>> 0,1...len*(runs-1)
    if i%2==0: # 3 only print, when the index is even
        print(i, runs[i]) # 2 use index and get the corresponding run
        total = total + runs[i] # 5 add runs to the sum when ind is even

print('total was', total)

0 45
2 89
4 34
6 100
total was 268

In [ ]:
# adding to a python list
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
print(avengers)
# append>> adds a single value at a time at the end of the list
avengers.append("gamora")
print(avengers)
# insert>> give me the index, in-front of which you want to add the value(a single value)
avengers.insert(1, "loki")
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['iron-man', 'thor', 'cap', 'hulk', 'groot', 'gamora']
['iron-man', 'loki', 'thor', 'cap', 'hulk', 'groot', 'gamora']

In [ ]:
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
print(avengers)

DC = ["super man", "wonder woman", "flash", "Aqua man"]
print(DC)

# extend >> add elements of 1 python list at the end of another python list
avengers.extend(DC) # avengers = avengers+DC
print("AVENGERS: ",avengers)
print("DC: ",DC)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['super man', 'wonder woman', 'flash', 'Aqua man']
AVENGERS:  ['iron-man', 'thor', 'cap', 'hulk', 'groot', 'super man', 'wonder woman', 'flash', 'Aqua man']
DC:  ['super man', 'wonder woman', 'flash', 'Aqua man']

In [ ]:
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
print(avengers)

DC = ["super man", "wonder woman", "flash", "Aqua man"]
print(DC)

avengers = avengers+DC
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['super man', 'wonder woman', 'flash', 'Aqua man']
['iron-man', 'thor', 'cap', 'hulk', 'groot', 'super man', 'wonder woman', 'flash', 'Aqua man']

In [ ]:
a = [1,1,2,2,3,3]
b = [1,1,2,2,3,3]
print(a+b)

[1, 1, 2, 2, 3, 3, 1, 1, 2, 2, 3, 3]

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# interating through a python list
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
print(avengers)

for i in avengers:
    print(i)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
iron-man
thor
cap
hulk
groot

In [ ]:
runs = [45, 67, 89, 12, 34, 56, 100] # virat kohli's runs
# sums of the runs
# avg of the runs
# min run
# max run

min_runs=runs[0]
max_runs =runs[0]

In [ ]:
# min and max
min_runs=runs[0]
max_runs =runs[0]
for everRun in runs:
    # for max run
    if everRun>max_runs:
        max_runs = everRun
    # for the min run
    if everRun<min_runs:
        min_runs = everRun

print("min run: ", min_runs)
print("max run: ", max_runs)

min run:  12
max run:  100

In [ ]:
# min and max
min_runs=10000000
max_runs =-10
for everRun in runs:
    # for max run
    if everRun>max_runs:
        max_runs = everRun
    # for the min run
    if everRun<min_runs:
        min_runs = everRun

print("min run: ", min_runs)
print("max run: ", max_runs)

min run:  12
max run:  100

In [ ]:
# sum
total = 0
for everRun in runs:
    total = total + everRun
print("sum of the runs is: ",total)
print("avg of the runs is: ", total/len(runs))

sum of the runs is:  403
avg of the runs is:  57.57142857142857

In [ ]:
# sum =10 # TypeError: 'int' object is not callable

In [ ]:
# sum, min, max
runs = [45, 67, 89, 12, 34, 56, 100]
print(sum(runs))
print(sum(runs)/len(runs))
print(min(runs))
print(max(runs))

403
57.57142857142857
12
100

In [ ]:
runs = [45, 67, 89, 12, 34, 56, 100]
count = 0
for i in runs:
    count+=1
print("count is: ",count)
print("count is: ",len(runs))

count is:  7
count is:  7

In [ ]:
# sort
runs = [45, 67, 89, 12, 34, 56, 100]
print(runs)
runs.sort()
print(runs)
runs.sort(reverse=True)
print(runs)

[45, 67, 89, 12, 34, 56, 100]
[12, 34, 45, 56, 67, 89, 100]
[100, 89, 67, 56, 45, 34, 12]

In [ ]:
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
print(avengers)

avengers.sort()
print(avengers)
avengers.sort(reverse=True)
print(avengers)

['iron-man', 'thor', 'cap', 'hulk', 'groot']
['cap', 'groot', 'hulk', 'iron-man', 'thor']
['thor', 'iron-man', 'hulk', 'groot', 'cap']

In [ ]:
# sort
runs = [45, 67.5, 89, 12, 34.7, 56, 100]
print(runs)
runs.sort()
print(runs)
runs.sort(reverse=True)
print(runs)

[45, 67.5, 89, 12, 34.7, 56, 100]
[12, 34.7, 45, 56, 67.5, 89, 100]
[100, 89, 67.5, 56, 45, 34.7, 12]

In [ ]:
grocceryList = [3, 'chairs', 3, 'tables', 1.5, 'Apples']
print(grocceryList)
grocceryList.sort()
print(grocceryList)

[3, 'chairs', 3, 'tables', 1.5, 'Apples']

TypeError: ignored

What will be the output of the following code?
```python
my_list = [1, 2, 3, 4, 5]
i = -1
while i >= -5:
    print(my_list[i], end = " ")
    i -= 1
```
A. `5 4 3 2 1 ` <<<<<<

B. `1 2 3 4 5 `

C. `5 3 1 2 4 `

D. `5 4 3 1 2 `

What is the output of the following code?
```python
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)
```
A. `[1, 2, 3, 4, 5]`

B. `[1, 2, 3, 4, 5, 6]` <<<<<<<<<<<

C. `[6, 5, 4, 3, 2, 1]`

D. `[5, 4, 3, 2, 1, 6]`

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

What is the output of the following code?
```python
my_list = [1, 2, 3, 4, 5]
i = 0
while i < len(my_list):
    if my_list[i] == 3:
        break
    print(my_list[i], end = " ")
    i += 1
```
A. `1 2 3 `

B. `1 2 `

C. `1 2 3 4 5  `

D. `1 2 4 5 `

In [ ]:
my_list = [1, 2, 3, 4, 5]
i = 0
while i < len(my_list):
    if my_list[i] == 3:
        break
    print(my_list[i], end = " ")
    i += 1

1 2

What is the output of the following code?
```python
my_list = [10, 20, 30, 40, 50]
i = 0
while i < len(my_list):
    my_list[i] *= 2
    i += 1
print(my_list)
```
A. `[10, 20, 30, 40, 50]`

B. `[1, 2, 3, 4, 5]`

C. `[20, 40, 60, 80, 100]` <<<

D. `[5, 10, 15, 20, 25]`

In [ ]:
my_list = [10, 20, 30, 40, 50]
i = 0
while i < len(my_list):
    my_list[i] *= 2
    i += 1
print(my_list)

[20, 40, 60, 80, 100]