<a href="https://colab.research.google.com/github/imshubhangisingh/Python-begginers-Notes/blob/main/4)List_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : List Slicing - 27th May 2023
`DSML Feb23 Beginner Tue`

![](https://images7.memedroid.com/images/UPLOADED870/633c84725a9a8.jpeg)

</center>

In [ ]:
## python lists
# [] ðŸ‘ˆðŸ‘ˆðŸ‘ˆ
# allows duplicates
# stores anything
# maintains order >> indexing, sort
# mutable/editable
# 2 lists can be added, NOT *,/,-
# list and an int can be * but NOT -,/,+

In [ ]:
# for i in runs # this cover values
# for i in range(len(runs))# 0,1,2,3.....len(runs)-1 # iterating over all the possible indeces in your list

##**Question-1**
Given list of all runs by Virat, print runs made in odd matches (Even Indexes).
```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
for i in range(len(runs)):
    if i%2==0:
        # print(i, runs[i])
        print(runs[i], end=" ")

62 74 12 122 81

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[0::2])

[62, 74, 12, 122, 81]

## **Question-2**
Given list of all runs by Virat, create a new list of runs made in odd matches (Even Indexes).
```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

Create a function called `odd_runs`, that will take one argument, which is the `runs` list

In [ ]:
def odd_runs(runs):
    res = []
    for i in range(len(runs)):
        if i%2==0:
            # print(i, runs[i])
            # print(runs[i], end=" ")
            res.append(runs[i])
    return res

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(  odd_runs(runs)       )

[62, 74, 12, 122, 81]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[0::2])

[62, 74, 12, 122, 81]

## **Question-3**
Given list of all runs by Virat, create a new list of runs made in last 5 matches.
```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

Output should be: `[101, 122, 99, 81, 55]`

In [ ]:
#                      *    *    *   *   *
#[62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
# 0    1   2   3   4   5    6    7   8   9 <><><>range(len(runs))
#                start=5(len(runs)-5)    end =9...len(runs)-1

In [ ]:
def last5(runs):
    res = []
    for i in range(len(runs)-5, len(runs)):
        res.append(runs[i])
    return res
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(  last5(runs)       )

[101, 122, 99, 81, 55]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[-5:])

[101, 122, 99, 81, 55]

## **Question-4**
Given list of all runs by Virat, create a new list of runs made in first 3 matches.
```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

Output should be: `[62, 85, 74]`

In [ ]:
def first3(runs):
    res = []
    if len(runs)<3:
        return []
    for i in range(0,3):
        res.append(runs[i])
    return res

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(  first3(runs)       )

[62, 85, 74]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[:3])

[62, 85, 74]

## **Question-5**
Given list of all runs by Virat, create a new list of runs made from the 3rd match to the 7th match.
```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

Output should be: `[74, 10, 12, 101, 122]`

You can assume that the list length will be valid

In [ ]:
def runs3to7(runs):
    res = []
    for i in range(2, 7):
        res.append(runs[i])
    return res

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(  runs3to7(runs)       )

[74, 10, 12, 101, 122]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[2:7])

[74, 10, 12, 101, 122]

In [ ]:
# ask the user to enter an int list
n = int(input("Hey user, how many numbers you want to enter??: "))
user_list = []
for i in range(n):
    num = int(input("Hey user enter the num: "))
    user_list.append(num)
print("user_list: ", user_list)

Hey user, how many numbers you want to enter??: 5
Hey user enter the num: 1
Hey user enter the num: 4
Hey user enter the num: 7
Hey user enter the num: 8
Hey user enter the num: 5
user_list:  [1, 4, 7, 8, 5]

In [ ]:
# slice a python list>> output is ALWAYS a python list ðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆðŸ‘ˆ

In [ ]:
#0/+ive ind    0          1      2      3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
# -ive ind    -5          -4      -3      -2        -1

print(avengers[2])
# python list slicing
# python_list[2:] # start = 2, keep on going forever
print(avengers[2:])

cap
['cap', 'hulk', 'groot']

In [ ]:
#0/+ive ind    0          1      2      3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
# -ive ind    -5          -4      -3      -2        -1

# END is NOT included
# list[start:end]>> values at indeces >> start, start+1.....end-1 # stop before end
print(avengers[1:4])# >> 1,2,3

# question
print(avengers[0:2]) # 0,1

['thor', 'cap', 'hulk']
['iron-man', 'thor']

In [ ]:
# default step is 1

#0/+ive ind    0          1      2      3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
# -ive ind    -5          -4      -3      -2        -1

# END is NOT included
# list[start:end:step]>> values at indeces >> start, start+step.....till end
# stop before end
print(avengers[1:4])# default step is 1
print(avengers[1:4:1])
print(avengers[1:4:2]) # 1, 3

# question
print(avengers[0:3:2]) # 0,2
print(avengers[-5:-2:2]) # -5, -3(-5+2)

['thor', 'cap', 'hulk']
['thor', 'cap', 'hulk']
['thor', 'hulk']
['iron-man', 'cap']
['iron-man', 'cap']

![]()

In [ ]:
# start, end, step are optional
# default step is 1

# if your step is +ive, start will be left end, end will be right end
#0/+ive ind    0          1      2      3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
# -ive ind    -5          -4      -3      -2        -1
print(avengers[2:]) # step is 1, 1 is +ive, end will be the right end
print(avengers[:4:2]) # step is 2, end =4, step 2 is +ive, start will be left end

# if your step is -ive, start will be right end, end will be left end
print(avengers[::-1]) # step -1, -1 is -ve, start will be right end, end will be left end
# reverse a list
print(avengers[4::-2]) # step = -2, -2 is -ve, start is 4, end will be left end
print(avengers[:0:-3]) # step =-3, start will be right end, end = 0

['cap', 'hulk', 'groot']
['iron-man', 'cap']
['groot', 'hulk', 'cap', 'thor', 'iron-man']
['groot', 'cap', 'iron-man']
['groot', 'thor']

In [ ]:
#0/+ive ind    0          1      2      3        4
avengers = ['iron-man', 'thor', 'cap', 'hulk', 'groot']
# -ive ind    -5          -4      -3      -2        -1
print(avengers[4:0:2])
print(avengers[1:1000:2])# start = 1, end=1000, step =2
print(avengers[3])
print(avengers[3:3+1])
print(avengers[1000:1000+1])

print(avengers[4 : : -2]) # start = 4, end=left side, step =-2 (-ive)

[]
['thor', 'hulk']
hulk
['hulk']
[]
['groot', 'cap', 'iron-man']

In [ ]:
print("i love python".split("o"))
print("i love python".split()) # default split is on white space

['i l', 've pyth', 'n']
['i', 'love', 'python']

In [ ]:
user_input = input("User enter your space seperated integers: ") # storing as a str
print("user_input before split: ", user_input)
user_input = user_input.split() # list of str, each element is a number in str form
print("user_input after split: ", user_input)
for i in range(len(user_input)):
    user_input[i] = int(user_input[i])
print("The user eneterd: ", user_input)

User enter your space seperated integers: 1 10 -20 456
user_input before split:  1 10 -20 456
user_input after split:  ['1', '10', '-20', '456']
The user eneterd:  [1, 10, -20, 456]

In [ ]:
## practice question 1
#     0  1    2   3   4   5   6   7   8   9
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
#    -10 -9  -8  -7  -6  -5  -4  -3  -2   -1
print(a[:-5])# step =1 (+ive), start: is left side, end -5
print(a[:5])

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
## practice question 2
#     0  1    2   3   4   5   6   7   8   9
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
#    -10 -9  -8  -7  -6  -5  -4  -3  -2   -1
print(a[-9:5])# step =1, start = -9, end=5
print(a[1:5])
print(a[-9:-5])
print(a[1:-5])

[20, 30, 40, 50]
[20, 30, 40, 50]
[20, 30, 40, 50]
[20, 30, 40, 50]

In [ ]:
# Quick fire questions
##             0   1  2    3   4   5   6   7   8   9   10
python_list = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
##            -11 -10 -9  -8  -7  -6  -5  -4  -3  -2   -1

In [ ]:
print("Quick-Question: 10",      python_list[-8:5:-1])

Quick-Question: 10 []

In [ ]:
print("Quick-Question: 9",       python_list[-8:5])

Quick-Question: 9 [30, 40]

In [ ]:
print("Quick-Question: 8",       python_list[-2:])

Quick-Question: 8 [90, 100]

In [ ]:
print("Quick-Question: 7",       python_list[:-5])

Quick-Question: 7 [0, 10, 20, 30, 40, 50]

In [ ]:
print("Quick-Question: 6",       python_list[-2:-7])
print("Quick-Question: 6",       python_list[9 : 4])

Quick-Question: 6 []
Quick-Question: 6 []

In [ ]:
print("Quick-Question: 5",       python_list[-2:-5:-1])

Quick-Question: 5 [90, 80, 70]

In [ ]:
print("Quick-Question: 4",       python_list[7:])

Quick-Question: 4 [70, 80, 90, 100]

In [ ]:
print("Quick-Question: 3",       python_list[:])

Quick-Question: 3 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
print("Quick-Question: 2",       python_list[:8])

Quick-Question: 2 [0, 10, 20, 30, 40, 50, 60, 70]

In [ ]:
print("Quick-Question: 1",       python_list[3:5])

Quick-Question: 1 [30, 40]