<a href="https://colab.research.google.com/github/imshubhangisingh/Python-begginers-Notes/blob/main/5)Beginner_List2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Beginner : List: 2D  - 1st June 2023

In [ ]:
## python lists
# []
# mutable/editable
# maintains order
# allows duplicates
# can store any data type... list inside a list>> 2d list

## Question 1

Rotate a list by 1 element.

```[1, 2, 3, 4, 5]``` -> last element is removed and added to the start.

```[5, 1, 2, 3, 4]```

In [ ]:
a = [1, 2, 3, 4, 5]
# using slicing
print("last part is", a[-1:])
print(a)
a = a[-1:] + a[:-1]
print(a)

last part is [5]
[1, 2, 3, 4, 5]
[5, 1, 2, 3, 4]

In [ ]:
a = [1, 2, 3, 4, 5]
# using pop - returns value of poped element
print(a)
last_ele = a.pop(-1)
print(a)
print("last element is", last_ele)
a.insert(0,last_ele)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
last element is 5
[5, 1, 2, 3, 4]

In [ ]:
a = [1, 2, 3, 4, 5]
# using remove, this is under the assumption that the values inside your python list are unique
print(a)
last_ele = a[-1]
a.remove(last_ele)
print(a)
print("last element is", last_ele)
a.insert(0,last_ele)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
last element is 5
[5, 1, 2, 3, 4]

In [ ]:
# .count() >> count of the particular value/element in the list
# .index() >> gives the position of the first occurence
a = [1, 2, 5, 3, 4, 5]
print(a.index(5))

2

In [ ]:
# del
a = [1, 2, 5, 3, 4, 5]
print(a)
del a [3]
print(a)
print("slice that i don't like", a[::3])
del a[::3]
print(a)
# a.pop(10) ## ðŸ’€ðŸ’€ðŸ’€IndexError: pop index out of range
del a[10:]

[1, 2, 5, 3, 4, 5]
[1, 2, 5, 4, 5]
slice that i don't like [1, 4]
[2, 5, 5]

In [ ]:
a = [1, 2, 5, 3, 4, 5]
print(a)
a.remove(5)
print(a)
a.remove(5)
print(a)
# a.remove(5) # ðŸ’€ðŸ’€ðŸ’€ ValueError: list.remove(x): x not in list
# print(a)

[1, 2, 5, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

## **Question-2**
Write a program to reverse a list.

In [ ]:
a = [1, 10, 2, 3, 4, 40, 5]
# [5,40,4,3,2,10,1]
# slicing - does'nt affect the orignal list
print(a)
print(a[::-1])
print(a)

[1, 10, 2, 3, 4, 40, 5]
[5, 40, 4, 3, 2, 10, 1]
[1, 10, 2, 3, 4, 40, 5]

In [ ]:
a = [1, 10, 2, 3, 4, 40, 5]
# [5,40,4,3,2,10,1]
# .reverse() - changes the orignal list
print(a)
a.reverse() # this reverses the original list
print(a)

[1, 10, 2, 3, 4, 40, 5]
[5, 40, 4, 3, 2, 10, 1]

In [ ]:
a = [1, 10, 2, 3, 4, 40, 5]
# [5,40,4,3,2,10,1]
# reversed() - does'nt affect the copy of and returns
print(a)
print(list(reversed(a))) # this reverses the list and return a copy without effecting the original
print(a)

[1, 10, 2, 3, 4, 40, 5]
[5, 40, 4, 3, 2, 10, 1]
[1, 10, 2, 3, 4, 40, 5]

In [ ]:
# sorting
a = [1, 10, 2, 3, 4, 40, 5]

# .sort() - changes the orignal list
print(a)
a.sort() # this reverses the original list
print(a)

[1, 10, 2, 3, 4, 40, 5]
[1, 2, 3, 4, 5, 10, 40]

In [ ]:
# sorting
a = [1, 10, 2, 3, 4, 40, 5]

# sorted() - does'nt affect the orinal list and returns
print(a)
print(sorted(a)) # this reverses the list, without effecting the original
print(a)

[1, 10, 2, 3, 4, 40, 5]
[1, 2, 3, 4, 5, 10, 40]
[1, 10, 2, 3, 4, 40, 5]

In [ ]:
player = ["Ronaldo", 37, 185.5, True, None]
print(player)
print("# of elements in my player list is: ", len(player))
for p in player:
    print(p)

['Ronaldo', 37, 185.5, True, None]
# of elements in my player list is:  5
Ronaldo
37
185.5
True
None

In [ ]:
grocceryList = [3, 'chairs', 3, 'tables', 1.5, 'Apples', ["Ronaldo", 37, 185.5, True, None]]
print(grocceryList)
print("# of elements in my grocceryList list is: ", len(grocceryList))

for g in grocceryList:
    print(g)

[3, 'chairs', 3, 'tables', 1.5, 'Apples', ['Ronaldo', 37, 185.5, True, None]]
# of elements in my grocceryList list is:  7
3
chairs
3
tables
1.5
Apples
['Ronaldo', 37, 185.5, True, None]

In [ ]:
grocceryList = [3, 'chairs', 3, 'tables', 1.5, 'Apples', ["Ronaldo", 37, 185.5, True, None]]
print(grocceryList)
print(grocceryList[5], type(grocceryList[5],))
print(grocceryList[6], type(grocceryList[6],))
print(grocceryList[6] [0])
print(grocceryList[6][-1])

[3, 'chairs', 3, 'tables', 1.5, 'Apples', ['Ronaldo', 37, 185.5, True, None]]
Apples <class 'str'>
['Ronaldo', 37, 185.5, True, None] <class 'list'>
Ronaldo
None

In [ ]:
my_list = [1,2,3,[4,5,["hello",[True, "Find ME!!"]],6]]
print(my_list[3][2][1][1])
print(my_list[-1][-2][-1][-1])
print(my_list[3][2][-1][1])

Find ME!!
Find ME!!
Find ME!!

In [ ]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# get me 7
print(a[2][0])

7

In [ ]:
a = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]
print("# of rows is", len(a))
print("# of cols is", len(a[0]))
print("8 is", a[2][1]) # list[row_index][column_index]

# of rows is 4
# of cols is 3
8 is 8

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]
nRows = len(matrix)
nCols = len(matrix[0])
print("# of rows is", nRows)
print("# of cols is", nCols)
for rowIndex in range(nRows):
    # print(matrix[rowIndex])
    for colIndex in range(nCols):
        print(matrix[rowIndex][colIndex])

# of rows is 4
# of cols is 3
1
2
3
4
5
6
7
8
9
0
10
11

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]
nRows = len(matrix)
nCols = len(matrix[0])
print("# of rows is", nRows)
print("# of cols is", nCols)
for rowIndex in range(nRows):
    for colIndex in range(nCols):
        print(matrix[rowIndex][colIndex], end="  ")
    print()

# of rows is 4
# of cols is 3
1  2  3
4  5  6
7  8  9
0  10  11

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]
for row in matrix:
    print(row)
    for ele in row:
        print(ele)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9
[0, 10, 11]
0
10
11

In [ ]:
randomMatrix = [[1, 2, 3], ["a", "b", "c", "d", "e"], [4.5, 6.7]]
for row in randomMatrix:
    print(row)
    for ele in row:
        print(ele)

[1, 2, 3]
1
2
3
['a', 'b', 'c', 'd', 'e']
a
b
c
d
e
[4.5, 6.7]
4.5
6.7

In [ ]:
randomMatrix = [[1, 2, 3], ["a", "b", "c", "d", "e"], [4.5, 6.7]]
for row in randomMatrix:
    for ele in row:
        print(ele, end="  ")
    print()

1  2  3
a  b  c  d  e
4.5  6.7

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]
# how many number of cols this matrix has (assume that no cols remains the same)
print(len(matrix[0]))

3

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]
# how many number of rows this matrix has
print(len(matrix))

4

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]

# what is the sum of all the elements?
total = 0
for row in matrix:
    # print(row)
    for ele in row:
        # print(ele)
        total += ele
print(total)

66

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]

# what is the sum of all the elements row -wise?
#  >> [6,15,24,21]
ans = []

for row in matrix:
    total = 0
    print(row)
    # sum up a single row
    for ele in row:
        total+=ele
    ans.append(total)
print(ans)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0, 10, 11]
[6, 15, 24, 21]

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0,10,11]
     ]

# what is the sum of all the elements col -wise?
#  >> [12,25,29]
nRows = len(matrix)
nCols = len(matrix[0])
ans = []
for i in range(nCols):
    ans.append(0)
print(ans)

for rowIndex in range(nRows):
    for colIndex in range(nCols):
        ele = matrix[rowIndex][colIndex]
        ans[colIndex] += ele
print(ans)

[0, 0, 0]
[12, 25, 29]

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
     ]

# HW: what is the sum of the diaginal>> 1+5+9 = 15