<a href="https://colab.research.google.com/github/imshubhangisingh/Python-begginers-Notes/blob/main/6)Beginner_Strings1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

## Beginner : Strings 1 - 3 June 2023

![](https://codehs.com/uploads/f7b9b4e3fce7610f7c88a788e6d4aa29)

</center>

In [ ]:
## Data Types >>> immutable/ non-editable
# str
# int
# float
# bool
# None

In [ ]:
a = 4
a= a-1

In [ ]:
a = [4,4]
a.append(3)
a[0] = -10

In [ ]:
print("this is a str")
print('this is also a str')
print('''one more
str''')
print("""so many strss""")

this is a str
this is also a str
one more
str
so many strss

In [ ]:
print("this is \n a str")
print('this is \n also a str')

this is
 a str
this is
 also a str

In [ ]:
print("1 line \n 2line")

1 line
 2line

In [ ]:
print('"hi')

"hi

In [ ]:
print('hi')
print("hi")

hi
hi

In [ ]:
print("hi')

SyntaxError: ignored

In [ ]:
"hi look at this meme"

In [ ]:
# American standard code for information interchange -- ASCII

In [ ]:
print(ord("h"))

104

In [ ]:
print(ord("a"))
print(ord("z"))

97
122

In [ ]:
print(chr(122))

z

In [ ]:
string = "hi look at this meme"
for s in string:
    print(s, ord(s))

h 104
i 105
  32
l 108
o 111
o 111
k 107
  32
a 97
t 116
  32
t 116
h 104
i 105
s 115
  32
m 109
e 101
m 109
e 101

In [ ]:
1>1

False

In [ ]:
'a'>'a'

False

In [ ]:
'a'>'A'

True

In [ ]:
print('a',ord('a'))

a 97

In [ ]:
print('A',ord('A'))

A 65

In [ ]:
print('a',ord('a'))
print('b',ord('b'))
print('c',ord('c'))
print('d',ord('d'))
print('e',ord('e'))

a 97
b 98
c 99
d 100
e 101

In [ ]:
"abc">"abd"

False

In [ ]:
"abc">"abcd"

False

In [ ]:
# maths
print("Cristiano " + " Ronaldo")

Cristiano  Ronaldo

In [ ]:
print("Cristiano " * " Ronaldo")

TypeError: ignored

In [ ]:
print("Cristiano " - " Ronaldo")

TypeError: ignored

In [ ]:
print("Cristiano " / " Ronaldo")

TypeError: ignored

In [ ]:
print(5*" Ronaldo")

 Ronaldo Ronaldo Ronaldo Ronaldo Ronaldo

In [ ]:
print("Cristiano " * 5)

Cristiano Cristiano Cristiano Cristiano Cristiano

In [ ]:
"abc">"abcd"

False

In [ ]:
"abc">"zebra"

False

In [ ]:
"zzz">"zebra"

True

In [ ]:
# f strings??????

In [ ]:
age = 37
output  = "age of Ronaldo today is 37 years"
print(output)

age of Ronaldo today is 37 years

In [ ]:
age = 37
output  = "age of Ronaldo today is " +age+ " years"
print(output)

TypeError: ignored

In [ ]:
age = 37
output  = "age of Ronaldo today is " +str(age)+ " years"
print(output)

age of Ronaldo today is 37 years

In [ ]:
# f-str
#1 write the str that you want
#2 replace the value with the variable name
#3 put the varaiable name in {}
#4 add f in front of your quotes

In [ ]:
age = 37
output  = f"age of Ronaldo today is {age} years"
print(output)

age of Ronaldo today is 37 years

In [ ]:
age = 38
output  = f"age of Ronaldo today is {age} years"
print(output)

age of Ronaldo today is 38 years

In [ ]:
age = 38
height = 189
worldCups = 0
output  = f"age of Ronaldo today is {age} years, he has won {worldCups} world cups and has a height of {height}cm"
print(output)
output  = "age of Ronaldo today is {age} years, he has won {worldCups} world cups and has a height of {height}cm"
print(output)

age of Ronaldo today is 38 years, he has won 0 world cups and has a height of 189cm
age of Ronaldo today is {age} years, he has won {worldCups} world cups and has a height of {height}cm

In [ ]:
age = 38
height = 189
worldCups = 0
output  = f"age of Ronaldo today is {age} years, he has won {worldCups} world cups and has a height of {height}cm"
print(output)
worldCups = 1
print(output)
print(type(output))

age of Ronaldo today is 38 years, he has won 0 world cups and has a height of 189cm
age of Ronaldo today is 38 years, he has won 0 world cups and has a height of 189cm
<class 'str'>

In [ ]:
s = "Ronaldo"
print(s.lower())

ronaldo

In [ ]:
s = "Ronaldo"
print(s.upper())

RONALDO

In [ ]:
s = "cristiano RONALDO"
print(s.capitalize())

Cristiano ronaldo

In [ ]:
s = "Cristiano ronaldo"
print(s.split('o'))

['Cristian', ' r', 'nald', '']

In [ ]:
s = "Cristiano ronaldo"
print(s.split())

['Cristiano', 'ronaldo']

In [ ]:
#https://docs.python.org/3/library/stdtypes.html#str.split

s = "This     is      Cristiano ronaldo"
print(s.split(' ')) # single space
print(s.split()) # whitespace/ widespace/ consecutive whitespace

['This', '', '', '', '', 'is', '', '', '', '', '', 'Cristiano', 'ronaldo']
['This', 'is', 'Cristiano', 'ronaldo']

In [ ]:
s = "This     is      Cristiano ronaldo"
print(list(s))

['T', 'h', 'i', 's', ' ', ' ', ' ', ' ', ' ', 'i', 's', ' ', ' ', ' ', ' ', ' ', ' ', 'C', 'r', 'i', 's', 't', 'i', 'a', 'n', 'o', ' ', 'r', 'o', 'n', 'a', 'l', 'd', 'o']

In [ ]:
user_str_input = input("hey user, please neter space seperated integers: ")
print(user_str_input)
user_str_list_input = user_str_input.split()
print(user_str_list_input)
for i in range(len(user_str_list_input)):
    user_str_list_input[i] = int(user_str_list_input[i] )
print(user_str_list_input)

hey user, please neter space seperated integers: 1 2
1 2
['1', '2']
[1, 2]

In [ ]:
s = "Cristiano ronaldo"
s_broken = s.split('o')
print(s_broken)
'o'.join(s_broken)

['Cristian', ' r', 'nald', '']

'Cristiano ronaldo'

* Take a string input from user and print that string character by character, with each character in new line.
```
Input:
"INDIA"
```
```
Output:
I
N
D
I
A
```

In [ ]:
inp = input()
for i in inp:
    print(i)

INDIA
I
N
D
I
A

In [ ]:
print("first char", inp[0])

first char I

In [ ]:
print("last char", inp[-1])

last char A

In [ ]:
inp[0] = 'A'

TypeError: ignored

In [ ]:
inp[0:3]

'IND'

In [ ]:
inp

'INDIA'

* Take a string input from user.
* Print the number of upper case characters in that string.

```
Input:
"This is a RANDOM strinG 67890, ^$#@"
```
```
Output:
8
```

In [ ]:
print("HINT:: All upper case charaters are in this range:", ord('A'), ord('Z'))

HINT:: All upper case charaters are in this range: 65 90

In [ ]:
inp = input()
count = 0
for i in inp:
    if ord(i)>=ord('A') and ord(i)<=ord('Z'):
        count+=1
count

"This is a RANDOM strinG 67890, ^$#@"

8

In [ ]:
print("HINT:: All upper case charaters are in this range:", ord('A'), ord('Z'))
print("HINT:: All lower case charaters are in this range:", ord('a'), ord('z'))
print("HINT:: All numbers are in this range:", ord('0'), ord('9'))

HINT:: All upper case charaters are in this range: 65 90
HINT:: All upper case charaters are in this range: 97 122
HINT:: All upper case charaters are in this range: 48 57

In [ ]:
for i in range(48, 58):
    print(i, chr(i))

48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9

* Take a string input from user.
* Reverse that string.

In [ ]:
inp = input()
print(inp[::-1])

Ronaldo
odlanoR

* Take a string input from user.
* Return ```"PALINDROME"``` if the string is a palindrome, otherwise return ```"NOT A PALINDROME"```.

In [ ]:
# "NAMAN">>>it reads the same from right to left and left to right
# Ronaldo >> it doesnot read the same from right to left and left to right Ronaldo is not the same as odlanoR

inp = input().lower()
if inp==inp[::-1]:
    print("PALINDROME")
else:
    print("NOT A PALINDROME")

Ronaldo
NOT A PALINDROME

![](https://media.tenor.com/a4yDwGZk4k4AAAAC/dj-khaled-another-one.gif)

In [ ]:
# ask the user for some space spereated intgers
# after that print them as comma seperated

# INPUT: "1 2 3 4 5"
# OUTPUT: "1,2,3,4,5"

inp = input() # "1 2 3 4 5"
inp = inp.split() # ["1", "2", "3", "4", "5"]
output = ",".join(inp) #"1,2,3,4,5"
print(output)

1 4 7 8 5 2 3 6 9
1,4,7,8,5,2,3,6,9

In [ ]:
"<>another one<>".join(inp)

'1<>another one<>4<>another one<>7<>another one<>8<>another one<>5<>another one<>2<>another one<>3<>another one<>6<>another one<>9'

![](https://usagif.com/wp-content/uploads/gifs/the-end-3.gif)

In [ ]:
def my_function():
    """this is dcumenting"""
    print("whaaat?")

In [ ]:
print(1)
2
print(3)

1
3

In [ ]:
'ZZZ'>'Zebra'

False

In [ ]:
print(ord('Z'), ord('Z'))
print(ord('Z'), ord('e'))

90 90
90 101

In [ ]:
def my_function():
    """this is dcumenting"""
    print("whaaat?")
help(my_function)

Help on function my_function in module __main__:

my_function()
    this is dcumenting

In [ ]:
def my_function():
    print("something else happened")
    """this is dcumenting"""
    print("whaaat?")
help(my_function)

Help on function my_function in module __main__:

my_function()

![](https://www.researchgate.net/profile/Benjamin-Burroughs/publication/282513413/figure/fig3/AS:286648472092674@1445353729169/A-humorous-meme-blending-the-doubt-your-doubts-line-with-the-popular-most.png)