<a href="https://colab.research.google.com/github/imshubhangisingh/Python-begginers-Notes/blob/main/8)Beginner_tuples%26Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Beginner : Tuples + Sets  - 8 th June 2023

In [ ]:
## Data types / Data Structures (primitive DS)
# str, None, int, float, bool

In [ ]:
## Data Structures
# list :
    # []
    # mutable/ editable
    # can store any data type
    # maintains order/ sequential
    # allows duplicates
# tuple :
    # ()
    # immutable/ non-editable
    # can store any data type
    # maintains order/ sequential
    # allows duplicates

In [ ]:
# ISRO üëâ Indian Space Research Org.
planets = ["mercury", "venus", "earth", 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets, type(planets))
planets.remove('Mars')
print(planets, type(planets))
planets.pop(-1)
print(planets, type(planets))
planets[2] = "Amazing Place"
print(planets, type(planets))
planets.append('Pluto')
print(planets, type(planets))

['mercury', 'venus', 'earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'] <class 'list'>
['mercury', 'venus', 'earth', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'] <class 'list'>
['mercury', 'venus', 'earth', 'Jupiter', 'Saturn', 'Uranus'] <class 'list'>
['mercury', 'venus', 'Amazing Place', 'Jupiter', 'Saturn', 'Uranus'] <class 'list'>
['mercury', 'venus', 'Amazing Place', 'Jupiter', 'Saturn', 'Uranus', 'Pluto'] <class 'list'>

In [ ]:
# tuple
planets = ("mercury", "venus", "earth", 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
print(planets, type(planets))
print(planets[1])

('mercury', 'venus', 'earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune') <class 'tuple'>
venus

In [ ]:
planets[1] = "No a planet"

TypeError: ignored

In [ ]:
# tuple v/s list
# tuple is created using () and list is created using []
# tuples are immutable
    # cannot chnage values
    # cannot change order
    # cannot add/remove values

In [ ]:
a= [1,2,3,4,5,6]
print(a)
print(a[2:5])
print(a)

[1, 2, 3, 4, 5, 6]
[3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [ ]:
a= (1,2,3,4,5,6)
a.sort()
print(a)

AttributeError: ignored

In [ ]:
a= (1,2,3,4,5,6)
print(a)
print(a[2:5])
print(a)

(1, 2, 3, 4, 5, 6)
(3, 4, 5)
(1, 2, 3, 4, 5, 6)

In [ ]:
a= (1,[2,3,4],5,6)
print(a)
a[1][1]=1000
print(a)

(1, [2, 3, 4], 5, 6)
(1, [2, 1000, 4], 5, 6)

In [ ]:
a= (1,[2,3,4],5,6)
print(a)
a[1].append(100)
print(a)

(1, [2, 3, 4], 5, 6)
(1, [2, 3, 4, 100], 5, 6)

In [ ]:
a= (1,[2,3,4],5,6)
print(a)
a[1]=[10,11,12]
print(a)

(1, [2, 3, 4], 5, 6)

TypeError: ignored

In [ ]:
a= (1,[2,3,4],5,6)
print(a)
a[1]=2
print(a)

In [ ]:
a= [1,2,3,10,11,-100]
print(a, type(a))
b = tuple(a)
print(b, type(b))
c = list(b)
print(c, type(c))

[1, 2, 3, 10, 11, -100] <class 'list'>
(1, 2, 3, 10, 11, -100) <class 'tuple'>
[1, 2, 3, 10, 11, -100] <class 'list'>

In [ ]:
c=(1, 2, 3, 10, 11, -100)
c = list(c)
print(c, type(c))

In [ ]:
a= 5
a="CR7"
print(a)

6

In [ ]:
a = [1,2,3]
a.append(5)
print(a)

[1, 2, 3, 5]

In [ ]:
a= (1,5,3,4,5,6)
print(a)
print(a.index(5))
print(a.count(5))
print(a)
print(len(a))
print(10 in a)
print(5 in a)

(1, 5, 3, 4, 5, 6)
1
2
(1, 5, 3, 4, 5, 6)
6
False
True

In [ ]:
# packing and unpacking
flavours = ('salty', 'sweet', 'sour', 'tangy') # packing the values
f1, f2, f3, f4 = flavours # unpacking
print(f1, f2, f3, f4)

salty sweet sour tangy

In [ ]:
# packing and unpacking
flavours = ['salty', 'sweet', 'sour', 'tangy'] # packing the values
f1, f2, f3, f4 = flavours # unpacking
print(f1, f2, f3, f4)

salty sweet sour tangy

In [ ]:
# packing and unpacking
flavours = ('salty', 'sweet', 'sour', 'tangy') # packing the values
f1, f2, f3 = flavours # unpacking

ValueError: ignored

In [ ]:
# packing and unpacking
flavours = ('salty', 'sweet', 'sour', 'tangy') # packing the values
f1, f2, f3, f4, f5 = flavours # unpacking

ValueError: ignored

In [ ]:
# packing and unpacking
flavours = ['salty', 'sweet', 'sour', 'tangy'] # packing the values
f1, f2, f3, f4 = flavours # unpacking
print(f1, f2, f3, f4)
print([f1, f2, f3, f4])

salty sweet sour tangy
['salty', 'sweet', 'sour', 'tangy']

In [ ]:
def brand_year_and_model():
    return 'Honda', 1991, 'City'
function_returns = brand_year_and_model()
print(function_returns)

('Honda', 1991, 'City')

In [ ]:
def brand_year_and_model():
    return 'Honda', 1991, 'City'
brand, year, model = brand_year_and_model()
print(brand, year, model)

Honda 1991 City

In [ ]:
def brand_year_and_model():
    return ['Honda', 1991, 'City']
brand, year, model = brand_year_and_model()
print(brand, year, model)

Honda 1991 City

In [ ]:
groccery_list = [('apples', 1.5), ('brooms', 2), ('paneer', '500 gm'), ('lays', ['blue','green'])]
for myTuples in groccery_list:
    print(myTuples)

('apples', 1.5)
('brooms', 2)
('paneer', '500 gm')
('lays', ['blue', 'green'])

In [ ]:
groccery_list = [('apples', 1.5), ('brooms', 2), ('paneer', '500 gm'), ('lays', ['blue','green'])]
for myTuples in groccery_list:
    print(myTuples, len(myTuples))

('apples', 1.5) 2
('brooms', 2) 2
('paneer', '500 gm') 2
('lays', ['blue', 'green']) 2

In [ ]:
groccery_list = [('apples', 1.5), ('brooms', 2), ('paneer', '500 gm'), ('laysüíÄ', ['blue','green'])]
for item, qty in groccery_list:
    print(item, qty)

apples 1.5
brooms 2
paneer 500 gm
laysüíÄ ['blue', 'green']

In [ ]:
groccery_list = [('apples', 1.5), ('brooms', 2), ('paneer', '500 gm'), ('laysüíÄ', ['blue','green'])]
for item, qty in groccery_list:
    output = f"Buy {qty} of {item}"
    print(output)

Buy 1.5 of apples
Buy 2 of brooms
Buy 500 gm of paneer
Buy ['blue', 'green'] of laysüíÄ

In [ ]:
## sets
# sets store unique values
# {ele1, ele2, ele3,... }
# no order is maintained
# set is mutable/editable

In [ ]:
colors = {'red', 'white', 'red', 'black', 'Red', 'green', 'red'}
print(colors, type(colors))

{'black', 'green', 'red', 'Red', 'white'} <class 'set'>

In [ ]:
'red'== 'Red'

False

In [ ]:
colors = {'red', 'white', 'red', 'black', 'Red', 'green', 'red'}
print(colors, type(colors))
colors[2]# no order is maintained

{'black', 'green', 'red', 'Red', 'white'} <class 'set'>

TypeError: ignored

In [ ]:
colors = {'red', 'white', 'red', 'black', 'Red', 'green', 'red'}
print(colors, type(colors))
colors.sort()# no order is maintained

{'black', 'green', 'red', 'Red', 'white'} <class 'set'>

AttributeError: ignored

In [ ]:
mySet =  set()          # ‚ùå{} only for empty sets
print(mySet, type(mySet))
mySet.add(1)
mySet.add(2)
mySet.add(3)
print(mySet, type(mySet))
mySet.remove(3)
print(mySet, type(mySet))
mySet.add(1)
mySet.add(1)
mySet.add(1)
mySet.add(1)
mySet.add(1)
print(mySet, type(mySet))

set() <class 'set'>
{1, 2, 3} <class 'set'>
{1, 2} <class 'set'>
{1, 2} <class 'set'>

In [ ]:
print(mySet, type(mySet))
mySet.remove(1)
print(mySet, type(mySet))

{1, 2} <class 'set'>
{2} <class 'set'>

In [ ]:
print(mySet, type(mySet))
mySet.remove(1)
print(mySet, type(mySet))

{2} <class 'set'>

KeyError: ignored

In [ ]:
print(mySet, type(mySet))
if 1 in mySet:
    mySet.remove(1)
print(mySet, type(mySet))

{2} <class 'set'>
{2} <class 'set'>

In [ ]:
if 1 in mySet: # quick search in sets is SUPER DUPER FAST compared to list/tuples
    mySet.remove(1)

In [ ]:
colors = {'red', 'white', 'red', 'black', 'Red', 'green', 'red'}
print(colors, type(colors))
colors.remove('green')
colors.add('purple')
print(colors, type(colors))

{'black', 'green', 'red', 'Red', 'white'} <class 'set'>
{'black', 'red', 'Red', 'purple', 'white'} <class 'set'>

In [ ]:
colors = {'red', 'white', 'red', 'black', 'Red', 'green', 'red'}
print(colors, type(colors))
removed = colors.pop()
print(removed)
colors.add('purple')
print(colors, type(colors))

{'black', 'green', 'red', 'Red', 'white'} <class 'set'>
black
{'green', 'red', 'Red', 'purple', 'white'} <class 'set'>

In [ ]:
colors = {'red', 'white', 'red', 'black', 'Red', 'green', 'red'}
print(colors, type(colors))
list(colors)

{'black', 'green', 'red', 'Red', 'white'} <class 'set'>

['black', 'green', 'red', 'Red', 'white']

In [ ]:
colors = {'red', 'white', 'red', 'black', 'Red', 'green', 'red'}
print(colors, type(colors))
tuple(colors)

{'black', 'green', 'red', 'Red', 'white'} <class 'set'>

('black', 'green', 'red', 'Red', 'white')

In [ ]:
setA = {1,2,3,4,5}
setB = {6,7,8,4,5}
print(setA.union(setB))# both of them combined
print(setA|setB) # anything present in a or b

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
setA = {1,2,3,4,5}
setB = {6,7,8,4,5}
print(setA.intersection(setB))# finds the common elements
print(setA&setB) # anything present in a & b

{4, 5}
{4, 5}

In [ ]:
setA = {1,2,3,4,5}
setB = {6,7,8,4,5}
print(setA.difference(setB))# setA-setB>> elements of setA not in setB
print(setA-setB)

{1, 2, 3}
{1, 2, 3}

In [ ]:
setA = {1,2,3,4,5}
setB = {6,7,8,4,5}
print(setA.symmetric_difference(setB))# find all the elements except the common ones
print(setA^setB)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [ ]:
for ele in {1,2,3,4,5}:
    print(ele, end=" ")

1 2 3 4 5

What will be the output of the following code snippet?
```python
x = (1, 2, 3)
y = (4, 5, 6)
z = x + y
print(len(z))
```
A. 3

B. 6 <<<<<<<<<<<<<<<<

C. 9

D. Error

In [ ]:
x = (1, 2, 3)
y = (4, 5, 6)
z = x + y
print(len(z))

6

What will be the output of the following code snippet?
```python
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = set1.intersection(set2)
print(len(set3))
```
A. 0

B. 2<<<<<<<<<<<<<<<

C. 3

D. Error

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = set1.intersection(set2)
print(len(set3))

2

In [ ]:
# update in set
setA = {1,2}
print(setA)
setA.update([3,4,5])
print(setA)
setA.update((6,7,8))
print(setA)
setA.update({9,10,11})
print(setA)
setA.update('Ronaldo')
print(setA)

{1, 2}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}

In [ ]:
print(setA)
print(setA)
print(setA)
print(setA)
print(setA)
print(setA)
print(setA)
print(setA)
print(setA)
print(setA)

{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}
{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}
{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}
{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}
{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}
{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}
{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}
{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}
{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}
{'a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'n', 'd', 'R', 'o', 'l'}

What will be the output of the following code snippet?
```python
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
fruits.update(["mango", "grape"])
print(len(fruits))
```

A. 4

B. 5

C. 6<<<<<<<<<<<<<<

D. Error

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
fruits.update(["mango", "grape"])
print(len(fruits))

6

What will be the output of the following code snippet?

```python
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = set1.symmetric_difference(set2)
print(set3)
```

A. `{1, 2, 3, 6, 7, 8}`<<<<<<<<<<<<

B. `{1, 2, 3, 8}`

C. `{1, 2, 3, 4, 5}`

D. `{4, 5, 6, 7, 8}`

![](https://datascienceparichay.com/wp-content/uploads/2021/12/python-set-symmetric-difference.png.webp)

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 6, 7, 8}

What will be the output of the following code snippet?
```python
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = set1.union(set2)
print(set3)
```
A. `{4, 5}`

B. `{1, 2, 3}`

C. `{{1, 2, 3, 6, 7, 8}}`

D. `{1, 2, 3, 4, 5, 6, 7, 8}`<<<<<<

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# üè†üè° üí™üí™
# Home Work
#  we know 8 different DS
# 1 str
# 2 int
# 3 float
# 4 bool
# 5 None
# 6 list
# 7 tuple
# 8 set

# create 8 different sets and find what was possible and what was NOT possible

![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8Qr1K_tGHm_Go6eObYg1O36kDafVLwJec1faFT46y&s)

In [ ]:
if 1 in mySet: # quick search in sets is SUPER DUPER FAST compared to list/tuples
    mySet.remove(1)

In [ ]:
python_list =list( range(0,1000000))
python_set =set( range(0,1000000))

In [ ]:
%%time
-1 in python_list # 8.06*1000=8060¬µs

CPU times: user 7.76 ms, sys: 0 ns, total: 7.76 ms
Wall time: 8.06 ms

False

In [ ]:
%%time
-1 in python_set

CPU times: user 4 ¬µs, sys: 1e+03 ns, total: 5 ¬µs
Wall time: 6.68 ¬µs

False