<a href="https://colab.research.google.com/github/imshubhangisingh/Python-begginers-Notes/blob/main/9)Beginner_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Beginner : Dictionaries - 10th June 2023

<img src="https://d17mnqrx9pmt3e.cloudfront.net/media/blog/share/dict.jpg" width="25%">

</center>

In [ ]:
# simple python data types
## primitive data types /DS
### str, int, float, bool, None

In [ ]:
### non Primitve DS

## list
# []
# can store any data type
# mutable/ editable
# duplicates are allowed
# ordered
empty_list = []
print(empty_list, type(empty_list))

[] <class 'list'>

In [ ]:
## tuple
# ()
# immutable / non-editable
# ordered
# duplicates are allowed
# can store any data type
empty_tuple = ()
print(empty_tuple, type(empty_tuple))

() <class 'tuple'>

In [ ]:
## set
# {e1, e2, e3.....}
# mutable/ editable
# un-ordered
# duplicates are not allowed
# can do set operation , like union, intersection , etc
# what can a python set store???? you can store anything in a set, but it CANNOT be MUTABLE
empty_set = set() # ‚ùå{}
print(empty_set, type(empty_set))

set() <class 'set'>

In [ ]:
# üè†üè° üí™üí™
# Home Work
#  we know 8 different DS
# 1 str
random_set = {"string"}
print(random_set, type(random_set))
# 2 int
random_set = {1,2,3}
print(random_set, type(random_set))
# 3 float
random_set = {1.23,-0.0,-50}
print(random_set, type(random_set))
# 4 bool
random_set = {True, False}
print(random_set, type(random_set))
# 5 None
random_set = {True, False, None}
print(random_set, type(random_set))
# 6 list
# random_set = {[1,2,3]} # TypeError: unhashable type: 'list'
# print(random_set, type(random_set)) ‚ùå‚ùå‚ùå‚ùå
# 7 tuple
random_set = {(1,2,3)}
print(random_set, type(random_set))
# 8 set
# random_set = {{1,2,3}} # TypeError: unhashable type: 'set'
# print(random_set, type(random_set)) ‚ùå‚ùå‚ùå‚ùå

# create 8 different sets and find what was possible and what was NOT possible

{'string'} <class 'set'>
{1, 2, 3} <class 'set'>
{-0.0, 1.23, -50} <class 'set'>
{False, True} <class 'set'>
{False, True, None} <class 'set'>
{(1, 2, 3)} <class 'set'>

## QUIZ TIME

## **Quiz-1**
What will be theoutput of the following?
```
s = {{1,2,3,4,5}}
print(s)
```
Options:
```
A. {1,2,3,4,5}
B. {{1,2,3,4,5}}
C. {1}
D. Error
E. None of the above
```

In [ ]:
s = {{1,2,3,4,5}} # set is mutable/ that is NOT allowed
print(s)

TypeError: ignored

## **Quiz-2**
What will be the output of the following?
```
t = [[1,2], [3,4], (5,6)]
a, b = t[1]
```
Options:
```
A. a = 3 and b = 4 <<<<<<<<<<<<<<<
B. a = 5 and b = 6
C. a = [3,4] and b = (5,6)
D. None of the above.
```

In [ ]:
t = [[1,2], [3,4], (5,6)]
a, b = t[1] # a,b =  [3,4] # unpacking
print(a,b)

3 4

In [ ]:
# dictionaries
# dict
# school >> word:meaning
# python >> key : value
# 1 dct = {key:value, ...}
oxford = {'google':'company', 'trump':'was a president', 'apple':'is a fruit'}
print(oxford, type(oxford))

{'google': 'company', 'trump': 'was a president', 'apple': 'is a fruit'} <class 'dict'>

In [ ]:
empty_dict = {}
print(empty_dict, type(empty_dict))

{} <class 'dict'>

In [ ]:
# 2 the values in your dict, can be of absolutely any data type
sameMeaning = {'joy': ['delight','gladness','happiness', 'joyfulness']}
print(sameMeaning, type(sameMeaning))

{'joy': ['delight', 'gladness', 'happiness', 'joyfulness']} <class 'dict'>

In [ ]:
oxford = {'google':'company', 'trump':'was a president', 'apple':'is a fruit'}
print(oxford, type(oxford))
print(oxford['apple'])

{'google': 'company', 'trump': 'was a president', 'apple': 'is a fruit'} <class 'dict'>
is a fruit

In [ ]:
sameMeaning = {'joy': ['delight','gladness','happiness', 'joyfulness']}
print(sameMeaning, type(sameMeaning))
print(sameMeaning['joy'])

{'joy': ['delight', 'gladness', 'happiness', 'joyfulness']} <class 'dict'>
['delight', 'gladness', 'happiness', 'joyfulness']

In [ ]:
trainStation = {'NDLS':'new delhi', 'MAS':'madras'}
print(trainStation['MAS'])

madras

In [ ]:
trainStation = [('NDLS','new delhi'), ('MAS','madras')]
print(trainStation['MAS'])

In [ ]:
languages = {'en':'English', 'pb':'Punjabi', 'cn':'chinese'}
print(languages, type(languages))

{'en': 'English', 'pb': 'Punjabi', 'cn': 'chinese'} <class 'dict'>

In [ ]:
# read
print(languages['en'])
# print(languages[0]) # KeyError: 0
# dict in python are un-ordered, no indexing, no sorting
print(languages['pb'])
# print(languages['hi']) #KeyError: 'hi'
if 'hi' in languages:
    print(languages['hi'])
else:
    print('Key not found')
print(languages.get('hi', 'Key not found'))
print(languages.get('pb', 'Key not found'))

English
Punjabi
Key not found
Key not found
Punjabi

In [ ]:
# add
languages = {'en':'English', 'pb':'Punjabi', 'cn':'chinese'}
print(languages, type(languages))
languages['tl'] = 'telugu'
print(languages, type(languages))

{'en': 'English', 'pb': 'Punjabi', 'cn': 'chinese'} <class 'dict'>
{'en': 'English', 'pb': 'Punjabi', 'cn': 'chinese', 'tl': 'telugu'} <class 'dict'>

In [ ]:
# update
languages['tl'] = 'tamil'
print(languages, type(languages))

{'en': 'English', 'pb': 'Punjabi', 'cn': 'chinese', 'tl': 'tamil'} <class 'dict'>

In [ ]:
print(languages, type(languages))
languages.update(
    {'tl':'tulu', 'mr':'marathi','my_lang':{'hi','en','pb'}}
)
print(languages, type(languages))

{'en': 'English', 'pb': 'Punjabi', 'cn': 'chinese', 'tl': 'tamil'} <class 'dict'>
{'en': 'English', 'pb': 'Punjabi', 'cn': 'chinese', 'tl': 'tulu', 'mr': 'marathi', 'my_lang': {'pb', 'hi', 'en'}} <class 'dict'>

In [ ]:
# del
print(languages, type(languages))
## pop
popped_val = languages.pop('my_lang')
print('popped_val', popped_val)

{'en': 'English', 'pb': 'Punjabi', 'cn': 'chinese', 'tl': 'tulu', 'mr': 'marathi', 'my_lang': {'pb', 'hi', 'en'}} <class 'dict'>
popped_val {'pb', 'hi', 'en'}

In [ ]:
print(languages, type(languages))

{'en': 'English', 'pb': 'Punjabi', 'cn': 'chinese', 'tl': 'tulu', 'mr': 'marathi'} <class 'dict'>

In [ ]:
 languages.pop()

TypeError: ignored

In [ ]:
print(languages, type(languages))
del languages['tl']
print(languages, type(languages))

{'en': 'English', 'pb': 'Punjabi', 'cn': 'chinese', 'tl': 'tulu', 'mr': 'marathi'} <class 'dict'>
{'en': 'English', 'pb': 'Punjabi', 'cn': 'chinese', 'mr': 'marathi'} <class 'dict'>

In [ ]:
# list >> pop >>> default is last value, given is index value
# set >> pop >> default is random value, given is NOT allowed
# dict>> pop >> no default, given is key value

In [ ]:
# python dict are mutable/editable

In [ ]:
# in python dict, if you try addding a value to a key that already exists,
# it will update else it will add
# keys are unique
# the keys in your dict, can be of absolutely any data type except MUTABLE

In [ ]:
experiment = {
    'Ronaldo':'str',
    1001:'int',
    -10.123:'float',
    True:'bool',
    None:'None',
    (1,2,3,4,5):'tuple'
    }
print(experiment)

{'Ronaldo': 'str', 1001: 'int', -10.123: 'float', True: 'bool', None: 'None', (1, 2, 3, 4, 5): 'tuple'}

In [ ]:
experiment = {
    [1,2,3]:'list'
    }
print(experiment)

TypeError: ignored

In [ ]:
experiment = {
    {1,2,3}:'set'
    }
print(experiment)

TypeError: ignored

In [ ]:
experiment = {
    {1:2}:'dict'
    }
print(experiment)

TypeError: ignored

In [ ]:
# iterating over a python dict

dct = {
    'name':'Thor Odinson',
    'weapons': ['hammer', 'axe'],
    'strong':True,
    'eyes': 1,
    'hair':1.8
}
print(dct)

# simple loop
for i in dct:
    print(i) # this only gives the keys

{'name': 'Thor Odinson', 'weapons': ['hammer', 'axe'], 'strong': True, 'eyes': 1, 'hair': 1.8}
name
weapons
strong
eyes
hair

In [ ]:
# iterating over a python dict

dct = {
    'name':'Thor Odinson',
    'weapons': ['hammer', 'axe'],
    'strong':True,
    'eyes': 1,
    'hair':1.8
}
print(dct)

# simple loop and get the values
for i in dct:
    print(i, dct[i]) # this only gives the keys, use key to get the value

{'name': 'Thor Odinson', 'weapons': ['hammer', 'axe'], 'strong': True, 'eyes': 1, 'hair': 1.8}
name Thor Odinson
weapons ['hammer', 'axe']
strong True
eyes 1
hair 1.8

In [ ]:
# .keys()
dct = {
    'name':'Thor Odinson',
    'weapons': ['hammer', 'axe'],
    'strong':True,
    'eyes': 1,
    'hair':1.8
}
print(dct)
print(dct.keys())
print(list(dct.keys()))
for key in dct.keys():
    print(key)

{'name': 'Thor Odinson', 'weapons': ['hammer', 'axe'], 'strong': True, 'eyes': 1, 'hair': 1.8}
dict_keys(['name', 'weapons', 'strong', 'eyes', 'hair'])
['name', 'weapons', 'strong', 'eyes', 'hair']
name
weapons
strong
eyes
hair

In [ ]:
# .values()
dct = {
    'name':'Thor Odinson',
    'weapons': ['hammer', 'axe'],
    'strong':True,
    'eyes': 1,
    'hair':1.8
}
print(dct)
print(dct.values())
print(list(dct.values()))
for value in dct.values():
    print(value)

{'name': 'Thor Odinson', 'weapons': ['hammer', 'axe'], 'strong': True, 'eyes': 1, 'hair': 1.8}
dict_values(['Thor Odinson', ['hammer', 'axe'], True, 1, 1.8])
['Thor Odinson', ['hammer', 'axe'], True, 1, 1.8]
Thor Odinson
['hammer', 'axe']
True
1
1.8

In [ ]:
# .items()
dct = {
    'name':'Thor Odinson',
    'weapons': ['hammer', 'axe'],
    'strong':True,
    'eyes': 1,
    'hair':1.8
}
print(dct)
print(dct.items())

{'name': 'Thor Odinson', 'weapons': ['hammer', 'axe'], 'strong': True, 'eyes': 1, 'hair': 1.8}
dict_items([('name', 'Thor Odinson'), ('weapons', ['hammer', 'axe']), ('strong', True), ('eyes', 1), ('hair', 1.8)])

In [ ]:
for myTuple in dct.items():
    print(myTuple)

('name', 'Thor Odinson')
('weapons', ['hammer', 'axe'])
('strong', True)
('eyes', 1)
('hair', 1.8)

In [ ]:
for key, value in dct.items():
    print(key, value)

name Thor Odinson
weapons ['hammer', 'axe']
strong True
eyes 1
hair 1.8

In [ ]:
dct = {
    'name':'Thor Odinson',
    'weapons': ['hammer', 'axe'],
    'strong':True,
    'eyes': 1,
    'hair':1.8
}
print(dct)
# search the keys
print('name' in dct.keys())
print('name' in dct)
# search the values
print('name' in dct.values())
# search the pairs
print(('eyes', 2) in dct.items())
print(('eyes', 1) in dct.items())

{'name': 'Thor Odinson', 'weapons': ['hammer', 'axe'], 'strong': True, 'eyes': 1, 'hair': 1.8}
True
True
False
False
True

## **Question**
* Take a string as input.
* Create a dictionary according to the following criteria :-
    * There will be one key value pair for each unique character
    * Key will be character name and value will be the count of the character inside the string.

> NOTE: DO NOT use `.count`

**Example input**:
```
rrssstttt
```

**Example output**:
```
{
    "r": 2,
    "s": 3,
    "t": 4
}
```

In [ ]:
# simplest way
user_input = "rrssstttt"
count_dict = {}
for everyChar in user_input:
    count_dict[everyChar] = user_input.count(everyChar)
count_dict

{'r': 2, 's': 3, 't': 4}

In [ ]:
# simplest way but slightly efficient
user_input = "rrssstttt"
count_dict = {}
for everyChar in user_input:
    if everyChar not in count_dict:
        count_dict[everyChar] = user_input.count(everyChar)
count_dict

{'r': 2, 's': 3, 't': 4}

In [ ]:
# most efficient
user_input = "rrssstttt"
# r 1+1
# s 1+1+1
# t 1+1+1+1
count_dict = {}
for everyChar in user_input:
    # i am seeing this char for the first time
    if everyChar not in count_dict:
        count_dict[everyChar]=1
    else: # i already saw and counted it
        count_dict[everyChar]=count_dict[everyChar]+1
count_dict

{'r': 2, 's': 3, 't': 4}

In [ ]:
# most efficient and concise
user_input = "rrssstttt"
# r 1+1
# s 1+1+1
# t 1+1+1+1
count_dict = {}
for everyChar in user_input:
    count_dict[everyChar]=count_dict.get(everyChar, 0)+1
count_dict

{'r': 2, 's': 3, 't': 4}

In [ ]:
# most efficient and concise
user_input = [10,20,30,40,10,20,20,20,20,20,40]
# r 1+1
# s 1+1+1
# t 1+1+1+1
count_dict = {}
for everyChar in user_input:
    count_dict[everyChar]=count_dict.get(everyChar, 0)+1
count_dict

{10: 2, 20: 6, 30: 1, 40: 2}

In [ ]:
# most efficient and concise
user_input = {10,20,30,40,10,20,20,20,20,20,40}
# r 1+1
# s 1+1+1
# t 1+1+1+1
count_dict = {}
for everyChar in user_input:
    count_dict[everyChar]=count_dict.get(everyChar, 0)+1
count_dict

{40: 1, 10: 1, 20: 1, 30: 1}